@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: logofont;
	src: url(../font/couture-bld.otf);
}
#container{
	width: 100%;
	height: 100vh;
	position: relative;
}
.background{
	width: 100%;
	height: 100vh;
	background: url("../img/2-01.png");
	background-size: 1550px;
	position: fixed;
}

/*logo*/
.logo{
	width: 30%;
	height: 50px;
/*	background: #E44144;*/
	float: left;
	position: relative;
	overflow: hidden;
	font-family: logofont;
	letter-spacing: 5px;
	font-size: 25px;
	padding: 20px;
	z-index: 99;
}
.logo a{
	text-decoration: none;
	color: #e5e5e5;
	transition:  all 0.3s ease;
	opacity: 0.8;
	transform: scale(1);
}
.logo a:hover{
	text-decoration: none;
	opacity: 1;
	transform: scale(1.2);
	filter: drop-shadow(10px 10px 10px white);
}



/*overlay menu*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*icon*/
.icon{
	width: 5%;
	height: 50px;
/*	background: #E09697;*/
	float: right;
	color: #e5e5e5;
	padding-top: 10px;
	top: 10px;
	right:10px;
	z-index: 100;
	position: absolute;
}


/*trang chính*/
.look{
	position: absolute;
	width: 100%;
}

.portduoi{
	width: 100%;
	position: absolute;
	animation: portduoi 5s linear 2s infinite alternate;
	opacity:0;
}
@keyframes portduoi{
	15%{opacity:0; bottom: 5px;}
	20%, 90%{opacity:1; bottom: 20px;}
}

.hinh{
	margin-top: 50px;
	position: relative;
	animation: hinh 10s linear 2s infinite;
	opacity:0;
}
@keyframes hinh{
	5%{opacity:0; transform:scale(.2)}
	10%{opacity:1; transform:scale(1.2)}
	12.5%{transform:scale(1)}
	90%{opacity:1;}
}

.porttren{
	width: 100%;
	position: absolute;
	animation: porttren 5s linear 2s infinite alternate;
	opacity:0;
}
@keyframes porttren{
	15%{opacity:0; top:30px;}
	20%, 90%{opacity:1; top:100px;}
}



/*noidung từng phần*/
.noidung{
	width: 100%;
	height: 100vh;
	background: url(../img/2-01.png);
	background-size: 1550px;
	position: fixed;
	z-index: 20;
	scroll-behavior: smooth;
	overflow-y: scroll;
}
.letter{
	width: 50%;
/*	height: 550px;*/
	float: left;
	background: rgba(113,111,111,0.8);
	color: white;
	text-align: center;
	font-size: 20px;
}
.product{
	width: 50%;
	float: right;
/*	background: #545454;*/
}

.item{
	text-decoration: none;
	font-family: logofont;
	color: white;
}

/*all nội dung*/
.allnd{
	width: 100%;
	height: 100vh;
	background: url(../img/2-01.png);
	position: fixed;
	background-size: 1550px;
	scroll-behavior: smooth;
	overflow-y: scroll;
}
h1{
	font-family: logofont;
}

.accordion {
  background-color: #E5E5E5;
  color: #444;
  cursor: pointer;
  padding: 30px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
	width: 80%;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
	border-radius: 5px;

}

.danlink{
	transition:  all 0.3s ease;
	opacity: 1;
	transform: scale(1);
	background: #545454;
	overflow: hidden;
}
.danlink:hover{
	filter: drop-shadow(10px 10px 10px grey);
	opacity: 0.5;
	transform: scale(1.2);
}


/*nút quay lại trang cũ*/
.hvr-hang{
	width: 15%;
	float: left;
	font-size: 40px;
	padding-left: 20px;
	padding-top: 0px;
}


/*nhảy nhảy của icon nút quay lại*/
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}



/*contactttt*/
.contact{
	width: 100%;
	height: 100vh;
	background: url(../img/2-01.png);
	position: fixed;
	background-size: 1550px;
	scroll-behavior: smooth;
	overflow-y: scroll;
	display: flex;
	align-items: space-around;
	flex-direction: column;
}
.bg{
	width: 80%;
/*	height: 600px;*/
	background: rgba(20,30,61,0.7);
}

/*skillllsssss*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
.slidecontainer{
	line-height: 30px;
}
.slidecontainer1{
	line-height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

/*icon contact*/
.contacticon{
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #1985A1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 300px;
	box-sizing: border-box;
}


/*tt*/
.thaonguyen{
	width: 100%;
	height: 50px;
	background: black;
	color: #e5e5e5;
	padding-top: 20px;
	text-align: center;
}